 table ,tr ,td {
	border:1px solid black;	
}
table{
	width:100%;
}
#t-image{
	text-align:center;
}
h1{
	text-align:center;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
td{
	height:15px;
}